div.texts div {
    clear: both;
}

.texts {
    height: 700px;
    overflow-y: auto;
    padding: 35px;
    margin: 50px;
    border: 1px solid #9c9c9c;
}

div.texts span {
    margin: 2px;
    padding: 5px 10px;
    color: black;
    background: #e5e5ea;
    border-radius: 20px;
}

div.texts span.me-sent {
    float: right;
    color: white;
    background: #0e86ff;
}
